.config/mc/hotlist
.config/karabiner/automatic_backups
.config/ghostty/ghosttybg-symlink
.config/kitty/kittybg.symlink
.config/opencode/package-lock.json
/.config/herdr/session.json
/.config/herdr/plugins.json
/.config/herdr/herdr-client.log
/.config/herdr/herdr-server.log
/.config/herdr/.plugins.lock
/.config/herdr/herdr.log
